<h3 style="text-align: center; background-color:rgb(3, 3, 99) ;color:white"> View User Details</h3>
<div class="container" >
    <div class="data">
        
            <img  [src]="image10" style="width: 200px;height: 80px;">
        
    <div>
        <label> <b> Admin Name: </b></label> {{user.username}}
    </div>
    <div>
        <label> <b> EmailID: </b></label> {{user.uemailid}}
    </div>
    </div>
   
    <div class="image1">
        <img [src]="image2" style="width: 80%;margin-left: 150px;">
    </div>
   
    </div>

