<h2 style="background-color:rgb(6, 6, 80); color:white; text-align: center;"> Employee List</h2>
<!-- <div class=""searh-container>
<span style="font-weight: bold;">Search</span>
<input type="text" style="background-color: rgb(189, 189, 189);"placeholder="search here..." 
[(ngModel)]="searchvalue" (input)="searchvaluechanged()">
</div> -->
<table class = "table table-striped " style="border: 5px ;">
    <thead>
        <tr>
            <th style="background-color: darkgrey;">ID</th>
            <th style="background-color: darkgrey;"> First Name</th>
            <th style="background-color: darkgrey;"> Last Name </th>
            <th style="background-color: darkgrey;"> ContactNo</th>
            <th style="background-color: darkgrey;"> Email Id</th>

          
            <th style="background-color: darkgrey;"> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td>{{employee.id}}</td>
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
               <td> {{ employee.contactno}} </td>
           <td> {{ employee.emailId}} </td>
          
            <td>

                <button (click) = "updateEmployee(employee.id)" class = "btn btn-warning"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>

