
<h3 style="text-align: center; background-color:rgb(124, 1, 1) ;color:white"> View Salary Report Detaills</h3>

    <div class="container">
        <div class="details">
    <div>
        <label> <b> Name: </b></label> {{salary.name}}
    </div>
    <div>
        <label> <b> Department: </b></label> {{salary.department}}
    </div>
    <div>
        <label> <b>Month: </b></label> {{salary.month}}
    </div>
    <div>
        <label> <b> Basic: </b></label> {{salary.basic}}
    </div>

   
    <div> 
        <label> <b>HRA: </b></label> {{salary.hra}}
    </div>
    <div>
        <label> <b> Total: </b></label> {{salary.total}}
    </div>
    <div>
        <label> <b> Total Paid Days: </b></label> {{salary.totalpaiddays}}
    </div>
</div>
        
    <div>
        <img [src]="image2">
    </div>
   
    </div>
